@import './variables';
@import './mixins';

header {
    display: flex;
    justify-content: center;
    align-items: center;

    .title {

        a {
            position: absolute;
            top: 28px;
            left: 17px;
            transform: translateY(-50%);
            height: 30px;
            width: 30px;

            i {
                height: 30px;
                width: 30px;

            }

            &:visited {
                color: $black;
            }
        }
    }
}

main {

    img {
        height: 275px;
        object-fit: cover;
        width: 100%;
    }

    .menu {

        padding: 40px 13px 0 13px;
        margin-top: -55px;
        border-radius: 55px 55px 0 0;
        background-color: $background;
        position: relative;

        .restaurant {

            display: flex;
            align-items: center;
            position: relative;

            h2 {
                margin-right: 10px;
                color: $black;
                font-family: 'Shrikhand', sans-serif;
                font-size: 28px;
                font-weight: 400;
            }

            .card-rating {
                @include heart;
                position: absolute;
                right: 30px;

            }

        }

        section {

            margin-top: 28px;

            @keyframes fadeIn {
                from {
                    opacity: 0;
                    transform: translateX(-100%);
                }

                to {
                    opacity: 1;
                    transform: translateX(0%);
                }
            }

            @for $i from 1 through 3 {
                @for $j from 1 through 3 {
                    &:nth-of-type(#{$i}) li:nth-of-type(#{$j}) .card-content {
                        animation-delay: (3 * ($i - 1) + $j) * .5s;
                    }
                }
            }

            h3 {
                font-weight: 300;
                text-transform: uppercase;
                font-size: 16px;
                color: $black;
                position: relative;

                &:after {
                    content: '';
                    display: block;
                    position: relative;
                    height: 3px;
                    width: 40px;
                    left: 0;
                    margin-top: 10px;
                    background: $green;
                }
            }

            ul {

                list-style: none;
                padding-left: 0;
                margin: 12px 0;
                display: flex;
                flex-direction: column;
                gap: 12px;

                li {

                    .card {

                        border-radius: 15px;
                        background: $white;
                        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
                        display: flex;
                        overflow: hidden;
                        cursor: pointer;

                        &-content {
                            padding: 15px;
                            box-sizing: border-box;
                            width: 100%;
                            opacity: 0;
                            animation: fadeIn 1.8s forwards;

                        }

                        &-header {

                            color: $black;
                            font-size: 18px;
                            font-weight: 500;
                            margin-bottom: 5px;

                            &:hover {
                                @include ellipsis;
                            }
                        }

                        &-body {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            span {
                                font-size: 15px;
                                font-weight: 300;

                                &:hover {
                                    @include ellipsis;
                                }

                                &.price {
                                    font-weight: 700;
                                }
                            }
                        }

                        &-checked {
                            display: flex;
                            background-color: $green;
                            align-items: center;
                            justify-content: center;
                            width: 70px;
                            margin-right: -70px;
                            transition: all .25s ease-out;

                            i {
                                color: $green;
                                background-color: $white;
                                border-radius: 50%;
                                padding: 3px;
                            }

                        }

                        &:hover {
                            .card-checked {
                                margin-right: 0;

                            }

                        }

                    }
                }

            }

        }

        .explore {
            padding-top: 12px;
            display: flex;
            align-items: center;
            justify-content: center;

            button {
                @include button;
                margin-top: 12px;
                margin-bottom: 40px;
            }
        }

        #menuLaNoteEnchantee {

            section:nth-of-type(1) li:nth-of-type(1) .card-content {
                animation-delay: .5s;
            }

            section:nth-of-type(1) li:nth-of-type(2) .card-content {
                animation-delay: 1s;
            }

            section:nth-of-type(1) li:nth-of-type(3) .card-content {
                animation-delay: 1.5s;
            }

            section:nth-of-type(1) li:nth-of-type(4) .card-content {
                animation-delay: 2s;
            }

            section:nth-of-type(2) li:nth-of-type(1) .card-content {
                animation-delay: 2.5s;
            }

            section:nth-of-type(2) li:nth-of-type(2) .card-content {
                animation-delay: 3s;
            }

            section:nth-of-type(2) li:nth-of-type(3) .card-content {
                animation-delay: 3.5s;
            }

            section:nth-of-type(3) li:nth-of-type(1) .card-content {
                animation-delay: 4s;
            }

            section:nth-of-type(3) li:nth-of-type(2) .card-content {
                animation-delay: 4.5s;
            }

            section:nth-of-type(3) li:nth-of-type(3) .card-content {
                animation-delay: 5s;
            }

        }
    }
}

footer {
    @include footer;
}

@media (min-width: 768px) {

    main {

        display: block;

        &>img {
            height: 383px;
            width: 100%;
        }

        .menu {
            max-width: 1055px;
            margin: auto;
            margin-top: -55px;

            .restaurant {

                justify-content: center;

                .like-button {
                    position: relative;
                    right: inherit;
                    right: -60px;
                }

            }

            section {

                max-width: 634px;
                margin: 40px auto 0 auto;

            }
        }
    }
}