@import './mixins';

header {
    display: flex;
    justify-content: center;
    align-items: center;

    .title {
        /*display: flex;
        justify-content: center;
        align-items: center;*/

        a {
            position: absolute;
            top: 28px;
            left: 12px;
            transform: translateY(-50%);
            height: 30px;
            width: 30px;

            i {
                height: 30px;
                width: 30px;


            }
        }
    }
}

main {


    /*.starter {
        color: transparent;
        font-size: 0px;


        &-.card {
            position: relative;
            overflow: hidden;
        }

        &-.card::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transform: translateX(100%);
        }

        .card:nth-child(1) {
            animation: article-appearance 0s 1s forwards;
        }

        .card:nth-child(1)::after {
            background-color: salmon;
            animation: slide-in 0.75s ease-out forwards slide-out 0.75s 1s ease-out forwards;

        }

        @keyframes slide-in {
            100% {
                transform: translateX(0%);
            }
        }

        @keyframes slide-out {
            100% {
                transform: translateX(100%);
            }
        }

        @keyframes article-appearance {
            100% {
                color: #000;
            }
        }

        /*.starter{

    $animation-duration:10s;
    animation: appearance $animation-duration forwards .5s;
    transform-origin: left ;
    }

@keyframes starter{
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}
    .dish{
    $animation-duration:30s;
    animation: appearance $animation-duration forwards .5s;
    transform-origin: left ;   

}
@keyframes dish{
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}

    /*.starter{
    $animation-duration:1s;
    animation: appearance $animation-duration forwards .5s;
    transform-origin: left ;*/


    /*display: flex;
    flex-direction: column;*/

    img {
        height: 275px;
        object-fit: cover;
    }

    .menu {

        padding: 40px 13px 0 13px;
        margin-top: -55px;
        border-radius: 55px 55px 0 0;
        background-color: $background;
        position: relative;

        .restaurant {

            display: flex;
            align-items: center;
            position: relative;


            h2 {
                margin-right: 10px;
                color: #101010;
                font-family: 'Shrikhand', sans-serif;
                font-size: 28px;
                font-weight: 400;
            }

            .card-rating {
                @include heart;
                position: absolute;
                right: 10px;


            }

        }

        section {

            margin-top: 28px;

            h3 {
                font-weight: 300;
                text-transform: uppercase;
                font-size: 16px;
                color: #000;
                position: relative;

                &:after {
                    content: '';
                    display: block;
                    position: relative;
                    height: 3px;
                    width: 40px;
                    left: 0;
                    margin-top: 10px;
                    background: #99E2D0;
                }
            }

            ul {

                list-style: none;
                padding-left: 0;
                margin: 12px 0;
                display: flex;
                flex-direction: column;
                gap: 12px;

                li {
                    &.menu-section {
                        .card {

                            border-radius: 15px;
                            background: #fff;
                            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
                            display: flex;
                            overflow: hidden;
                            cursor: pointer;

                            &-content {
                                padding: 15px;
                                box-sizing: border-box;
                                width: 100%;
                                transform: translateX(-100%);
                                animation: leftToRight 1s ease-out forwards;

                                @for $i from 1 through 4 {
                                    &:nth-of-type(#{$i}) .card-content {
                                        animation-delay: ($i - 1) + 1s;
                                    }
                                }
                            }





                            &-header {

                                color: #000;
                                font-size: 18px;
                                font-weight: 500;
                                margin-bottom: 5px;

                            }

                            &-body {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                span {
                                    font-size: 15px;
                                    font-weight: 300;

                                    &.price {
                                        font-weight: 700;
                                    }
                                }
                            }

                            &-checked {
                                display: flex;
                                background-color: $green;
                                align-items: center;
                                justify-content: center;
                                width: 70px;
                                margin-right: -70px;
                                transition: all .25s ease-out;

                                i {
                                    color: $green;
                                    background-color: $white;
                                    border-radius: 50%;
                                    padding: 3px;
                                }

                            }

                            &:hover {
                                .card-checked {
                                    margin-right: 0;
                                }
                            }

                        }

                    }
                }

            }

        }

        .explore {
            padding-top: 12px;
            display: flex;
            align-items: center;
            justify-content: center;

            button {
                @include button;
                margin-top: 12px;
                margin-bottom: 40px;
            }
        }
    }
}

footer {
    @include footer;
}

@media (min-width: 768px) {

    main {

        display: block;

        &>img {
            height: 383px;
            width: 100%;
        }

        .menu {
            max-width: 1055px;
            margin: auto;
            margin-top: -55px;

            .restaurant {

                justify-content: center;

                .like-button {
                    position: relative;
                    right: inherit;
                    right: -60px;
                }

            }

            section {

                max-width: 634px;
                margin: 40px auto 0 auto;

            }
        }
    }

    footer {
        @include footerRespons
    }

}