@import './mixins';

header{ 

        a{
        top: 28px;
        left: 12px;
        transform: translateY(-50%);
        height: 30px;
        width: 30px;
        vertical-align: middle;
    }
}

main {

    display: flex;
    flex-direction: column;

    img {
        height: 275px;
        object-fit: cover;
    }

    .menu {

        padding: 40px 13px 0 13px;
        margin-top: -55px;
        border-radius: 55px 55px 0 0;
        background-color: $background;
        position: relative;

        .restaurant {

            display: flex;
            align-items: center;
            position: relative;

            h2 {
                margin: 0;
                color: #101010;
                font-family: 'Shrikhand', sans-serif;
                font-size: 28px;
                font-weight: 400;
            }

            .card-rating {
                @include heart;
                position: absolute;
                right: 27px;
            }

        }

        section {

            margin-top: 28px;

            h3 {
                font-weight: 300;
                text-transform: uppercase;
                font-size: 16px;
                color: #000;
                position: relative;

                &:after {
                    content: '';
                    display: block;
                    position: relative;
                    height: 3px;
                    width: 40px;
                    left: 0;
                    margin-top: 10px;
                    background: #99E2D0;
                }
            }

            ul {

                list-style: none;
                padding-left: 0;
                margin: 12px 0;
                display: flex;
                flex-direction: column;
                gap: 12px;

                li {

                    .card {

                        border-radius: 15px;
                        background: #fff;
                        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
                        display: flex;
                        overflow: hidden;
                        cursor: pointer;

                        &-content {
                            padding: 15px;
                            box-sizing: border-box;
                            width: 100%;
                        }

                        &-header {

                            color: #000;
                            font-size: 18px;
                            font-weight: 500;
                            margin-bottom: 5px;

                        }

                        &-body {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            span {
                                font-size: 15px;
                                font-weight: 300;

                                &.price {
                                    font-weight: 700;
                                }
                            }
                        }

                        &-checked {
                            display: flex;
                            background-color: $green;
                            align-items: center;
                            justify-content: center;
                            width: 70px;
                            margin-right: -70px;
                            transition: all .25s ease-out;

                            i {
                                color:$green;
                                background-color: $white;
                                border-radius: 50%;
                                padding: 3px;
                            }

                        }

                        &:hover {
                            .card-checked {
                                margin-right: 0;
                            }
                        }

                    }

                }

            }

        }

    }

.explore{
    button{
    @include button;
    padding-top: 12px;
    padding-bottom: 40px;
    display: flex;
    /*/align-items: center;/*/
    justify-content: center;
}
}
}
footer{
@include footer;

}


