@import './mixins';

/*/@import './common';/*/
/*/
/*/
/*/.card {

    display: flex;
    flex-direction: column;
    width: 800px;

    .picture {

        position: relative;

        img {
            height: 100px;
        }

        .ribbon {

            padding: 5px;
            background: cyan;
            border-radius: 3px;
            font-weight: bold;
            font-family: Verdana, Geneva, Tahoma, sans-serif;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);/*/





* {
    font-family: 'roboto', sans-serif;
    list-style-type: none;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}

$buttoncolor: linear-gradient(00deg, #9356DC -11.44%, #FF79DA 123.93%);
/*/359/*/
$violet: #9356DC;
$background: #F6F6F6;
$grey: #EAEAEA;
$grey2: #353535;
$green: #99E2D0;
$green_font: #008766;
$white: #FFFFFF;
$black: #101010;

body {

    /*.loader {
        $animation-duration: 3s;
        position: fixed;
        display: flex;
        place-items: center;
        background-color: $grey;
        height: 100vh;
        width: 100vw;
        z-index: 2;
        opacity: 0.9;
        animation: disappear $animation-duration forwards;
        transform-origin: top;

        &-hat {
            $animation-duration: 3s;
            display: flex;
            place-items: center;
            position: relative;
            opacity: 0.9;
            height: 300px;
            inset: 30px;
            /*filter: hue-rotate(100deg);
            animation: toque 3s infinite linear;
            // background-blend-mode: color-dodge;
        }
    }

    @keyframes disappear {
        from {
            transform: scale(1)
        }

        to {
            transform: scale(0);
        }
    }

    @keyframes toque {
        0% {
            transform: rotate(0deg) scale(1);
        }

        50% {
            transform: rotate(180deg) scale(1.5);
        }

        100% {
            transform: rotate(360deg) scale(1);
        }
    }*/
    .loader {
        $animation-duration: 1s;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $buttoncolor;
        height: 100vh;
        width: 100vw;
        z-index: 2;
        animation: disappear $animation-duration forwards .5s;
        transform-origin: top;

        &-hat {
            display: flex;
            position: relative;
            opacity: 1;
            height: 300px;
            animation: toque 3s infinite linear;
        }
    }

    @keyframes disappear {
        0% {
            opacity: 1;
            background-color: $green;
        }

        40% {
            opacity: 0.6;
            background-color: $violet;
        }

        80% {
            opacity: 0.8;
            background-color: $buttoncolor ;
        }

        100% {
            opacity: 0;
            display: none;
        }
    }

    @keyframes toque {
        0% {
            transform: rotate3d(0, 1, 0, 0deg) scale(1);
            filter: hue-rotate(0deg);
        }

        50% {
            transform: rotate3d(0, 1, 0, 180deg) scale(1.5);
        }

        100% {
            transform: rotate3d(0, 1, 0, 360deg) scale(1);
            filter: hue-rotate(360deg);
        }
    }

    header {

        .title {
            margin: 0;
            height: 63px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 162px;
                height: 44px;
            }
        }
    }

    main {

        /*/display: flex;
    justify-content: center;
    align-items: center;/*/

        .search {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            /*/width: 100%;*/
            /*/border: 0px solid transparent;/*/
            background-color: $grey;
            color: $grey2;
            gap: 17px;
            font-weight: 500;
            /*/margin-left: -8px; /*/

            .fa-solid {
                color: $grey2;
                display: flex;
                align-items: center;
                /*/margin-right: 17px;/*/
            }

            input {
                border: none;
                background-color: $grey;
            }
        }

        .display {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 287px;
            background-color: $background;
            margin-left: -8px;
            margin-right: -8px;

            h2 {
                width: 257px;
                height: 68px;
                padding-top: 39px;
                margin-top: 0;
                display: flex;
                text-align: center;
                align-items: center;
            }

            p {
                width: 315px;
                height: 46px;
                font-size: 18px;
                font-weight: 300;
                color: $grey2;
                text-align: center;
                margin-left: 34px;
                margin-right: 26px;
            }

            .explore {

                button {
                    @include button;
                    margin-top: 27px;
                }
            }
        }

        /*/             position: relative;
                    border-radius: 25px;
                    border: 0;
                    box-sizing: border-box;
                    height: 50px;
                    min-width: 186px;
                    font-size: 16px;
                    font-weight: 500;
                    color: #FFF;
                    padding: 15px 20px;
                    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
                    background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
                    transition: all .3s ease-out;
                    overflow: hidden;
                
                    &:before {
                        content:'';
                        position: absolute;
                        top: 0; left: 0; bottom: 0; right: 0;
                        background: blue;
                        background-color: rgba(255, 255, 255, .15);
                        opacity: 0;
                        transition: all .3s ease-out;
                    }
                
                    &:hover {
                        cursor: pointer;
                        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
                
                        &:before {
                            opacity: 1;
                        }
                    }
                
                }
                width: 218px;
                height: 50px;
                display: flex;
	            align-items: center;
	            justify-content: center;
	            text-decoration: none;
	            background: $buttoncolor;
                box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
	            border-radius: 25px;
	            box-sizing: border-box;
                /*/
        /*/
                &:hover{ 
                    box-shadow: 0px 8px 15px 5px rgba(0, 0, 0, 0.25);
                    background-color: red;
                }
                    span {

                    color: $white;
	                font-family: 'roboto';
	                font-style: normal;
	                font-weight: 500;
	                font-size: 16px;
	                line-height: normal;    
                    }
            
        }/*/
    }

    .steps {
        margin-top: 46px;
        padding-bottom: 43px;

        ul {

            list-style: none;
            padding-left: 0;

            li {
                margin-bottom: 25px;
                padding-left: 12px;
                counter-increment: listCounter;

                /*/width: 322px; 
            height: 73px;  
            box-sizing: border-box; 
            background-color: $background;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            padding: 10px;
            padding-left: 20px;
            margin: 10px;
            border-radius: 20px;
            position: relative;
            display: flex;
            align-items: center;/*/

                a {
                    height: 73px;
                    display: flex;
                    align-items: center;
                    background-color: $background;
                    border-radius: 20px;
                    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
                    position: relative;

                    span {
                        color: #000;
                        font-weight: 500;
                    }

                    &:before {
                        content: counter(listCounter);
                        position: absolute;
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        background-color: var(--color-primary);
                        left: -12px;
                        top: 50%;
                        transform: translateY(-50%);
                        color: #FFF;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    i {
                        margin-right: 20px;
                        margin-left: 35px;
                        color: $grey2;
                    }
                    &: hover {
                        color: $violet;
                    }


                    .num {

                        height: 20px;
                        width: 20px;
                        border-radius: 50%;
                        color: $white;
                        background-color: $violet;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        position: absolute;
                        left: -10px;
                        top: 50%;
                        transform: translateY(-50%);

                    }
                }
            }
        }
    }



    .restaurants {
        background-color: $background;
        padding-bottom: 66px;


        .restaurants-cards {
            display: flex;
            flex-direction: column;
            gap: 20px;

            a {
                color: $black;
            }

            .card {
                border-radius: 15px 15px 0 0;
                overflow: hidden;

                &-new {

                    height: 230px;
                    position: relative;
                    z-index: 0;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;

                    }

                    .ribbon {
                        padding: 7px 9px 6px;
                        color: $green_font;
                        background: $green;
                        border-radius: 2px;
                        font-weight: 500;
                        font-family: 'roboto', sans-serif;
                        font-size: 14px;
                        position: absolute;
                        top: 15px;
                        right: 15px;
                        z-index: 1;
                        display: flex;
                        align-items: center;
                    }

                }

                .card-content {
                    padding: 15px;
                    display: flex;
                    justify-content: space-between;

                    &-text {

                        h3 {
                            margin: 0;
                            margin-bottom: 5px;
                        }

                    }

                    .card-rating {
                        @include heart;
                        margin-top: 5px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    footer {
        @include footer;

    }


    @media (min-width: 768px) {

        header {
            img {
                height: 34px;
                margin: 30px auto;
            }

            /*a {
            top: 50%;
        }*/
        }

        main {

            section {

                padding: 0;

                .content {

                    max-width: 1080px;
                    margin: auto;

                }

                h2 {
                    margin: 0;
                }

                &-.display {

                    padding: 30px 20px;

                    h1 {

                        font-size: 40px;
                        margin: 0;

                    }

                }

                &.steps {

                    padding: 50px 20px;

                    ul {

                        display: flex;
                        gap: 24px;
                        margin-top: 25px;
                        margin-bottom: 0;

                        li {

                            width: 100%;
                            margin-bottom: 0;

                        }

                    }

                }

                &.-restaurants {

                    padding: 30px 20px;

                    .restaurants-cards {

                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        margin-top: 28px;
                        grid-row-gap: 50px;
                        grid-column-gap: 100px;

                        .card {

                            &-header {

                                height: 173px;

                            }

                        }

                    }

                }

            }

        }

        footer {

            padding: 30px 25px;
            height: 54px;
            display: flex;
            flex-direction: row-reverse;
            align-items: end;

            .logo {

                margin-left: 90px;
                margin-right: 41px;

            }

            ul {

                margin-top: 0;
                flex-direction: row;

                /*li:nth-child(2) {
                
                margin-right: 45px;
    
            }*/

            }

        }

    }