@import './mixins';


* {
    font-family: 'roboto', sans-serif;
    list-style-type: none;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 48px;
    margin-bottom: 26px;
}

$buttoncolor: linear-gradient(00deg, #9356DC -11.44%, #FF79DA 123.93%);
$violet: #9356DC;
$background: #F6F6F6;
$grey: #EAEAEA;
$grey2: #353535;
$green: #99E2D0;
$green_font: #008766;
$white: #FFFFFF;
$black: #101010;

body {

    /*.loader {
        $animation-duration: 3s;
        position: fixed;
        display: flex;
        place-items: center;
        background-color: $grey;
        height: 100vh;
        width: 100vw;
        z-index: 2;
        opacity: 0.9;
        animation: disappear $animation-duration forwards;
        transform-origin: top;

        &-hat {
            $animation-duration: 3s;
            display: flex;
            place-items: center;
            position: relative;
            opacity: 0.9;
            height: 300px;
            inset: 30px;
            /*filter: hue-rotate(100deg);
            animation: toque 3s infinite linear;
            // background-blend-mode: color-dodge;
        }
    }

    @keyframes disappear {
        from {
            transform: scale(1)
        }

        to {
            transform: scale(0);
        }
    }

    @keyframes toque {
        0% {
            transform: rotate(0deg) scale(1);
        }

        50% {
            transform: rotate(180deg) scale(1.5);
        }

        100% {
            transform: rotate(360deg) scale(1);
        }
    }*/
    .loader {
        $animation-duration: 2s;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        /*background-color: $buttoncolor;*/
        opacity: 0;
        height: 100vh;
        width: 100vw;
        z-index: 2;
        animation: disappear $animation-duration forwards;
        transform-origin: top;

        &-hat {
            display: flex;
            position: relative;
            opacity: 1;
            height: 300px;
            animation: toque ($animation-duration / 2) infinite linear;
        }
    }

    @keyframes disappear {
        0% {
            opacity: 1;
            background-color: $green;
        }

        45% {
            background-color: $violet;
        }

        80% {
            background-color: $buttoncolor ;
        }

        100% {
            opacity: 0;
            display: none;
        }
    }

    @keyframes toque {
        0% {
            transform: rotate3d(0, 1, 0, 0deg) scale(1);

        }

        50% {
            transform: rotate3d(0, 1, 0, 180deg) scale(1.5);
        }

        100% {
            transform: rotate3d(0, 1, 0, 360deg) scale(1);

        }
    }

    header {

        .title {
            margin: 0;
            height: 63px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 162px;
                height: 44px;
            }
        }
    }

    main {

        /*/display: flex;
    justify-content: center;
    align-items: center;/*/

        .search {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            background-color: $grey;
            font-weight: 500;


            .fa-solid {
                color: $grey2;
                display: flex;
                align-items: center;
                /*/margin-right: 17px;/*/
            }

            input {
                width: 110px;
                border: none;
                text-align: center;
                background-color: $grey;
                color: $black;
                font-weight: 500;
            }
        }

        .display {
            /*height: 288px;*/
            background-color: $background;

            .content {

                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                /*height: 287px;*/
                width: 100%;
            }

            h2 {
                width: 257px;
                height: 68px;
                padding-top: 39px;
                margin: 0;
                display: flex;
                text-align: center;
                align-items: center;
                line-height: normal;
            }

            p {
                width: 315px;
                height: 46px;
                font-size: 18px;
                font-weight: 300;
                color: $grey2;
                text-align: center;
                margin-left: 34px;
                margin-right: 26px;
                margin-top: 0;
            }

            .explore {
                margin-top: 0px;
                margin-bottom: 50px;


                button {
                    @include button;
                    margin-top: 0px;
                }
            }
        }

        /*/             position: relative;
                    border-radius: 25px;
                    border: 0;
                    box-sizing: border-box;
                    height: 50px;
                    min-width: 186px;
                    font-size: 16px;
                    font-weight: 500;
                    color: #FFF;
                    padding: 15px 20px;
                    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
                    background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
                    transition: all .3s ease-out;
                    overflow: hidden;
                
                    &:before {
                        content:'';
                        position: absolute;
                        top: 0; left: 0; bottom: 0; right: 0;
                        background: blue;
                        background-color: rgba(255, 255, 255, .15);
                        opacity: 0;
                        transition: all .3s ease-out;
                    }
                
                    &:hover {
                        cursor: pointer;
                        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
                
                        &:before {
                            opacity: 1;
                        }
                    }
                
                }
                width: 218px;
                height: 50px;
                display: flex;
	            align-items: center;
	            justify-content: center;
	            text-decoration: none;
	            background: $buttoncolor;
                box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
	            border-radius: 25px;
	            box-sizing: border-box;
                /*/
        /*/
                &:hover{ 
                    box-shadow: 0px 8px 15px 5px rgba(0, 0, 0, 0.25);
                    background-color: red;
                }
                    span {

                    color: $white;
	                font-family: 'roboto';
	                font-style: normal;
	                font-weight: 500;
	                font-size: 16px;
	                line-height: normal;    
                    }
            
        }/*/
    }

    .steps {
        padding-top: 48px;
        margin-bottom: 43px;

        /*padding-bottom: 43px;*/
        background-color: red;

        h2 {
            margin-left: 20px;
        }

        ul {

            list-style: none;
            padding-left: 20px;
            padding-right: 20px;


            li {
                margin-bottom: 25px;
                padding-left: 20px;
                padding-right: 20px;
                counter-increment: listCounter;

                /*/width: 322px; 
            height: 73px;  
            box-sizing: border-box; 
            background-color: $background;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            padding: 10px;
            padding-left: 20px;
            margin: 10px;
            border-radius: 20px;
            position: relative;
            display: flex;
            align-items: center;/*/

                a {
                    height: 73px;
                    padding-right: 25px;
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    background-color: $background;
                    border-radius: 20px;
                    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
                    position: relative;

                    span {
                        color: #000;
                        font-weight: 500;
                    }

                    &:before {
                        content: counter(listCounter);
                        position: absolute;
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        background-color: var(--color-primary);
                        left: -12px;
                        top: 50%;
                        transform: translateY(-50%);
                        color: #FFF;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    i {
                        margin-right: 20px;
                        margin-left: 35px;
                        color: $grey2;
                    }

                    i.fa-store {
                        color: $violet;
                    }

                    .num {

                        height: 20px;
                        width: 20px;
                        border-radius: 50%;
                        color: $white;
                        background-color: $violet;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        position: absolute;
                        left: -10px;
                        top: 50%;
                        transform: translateY(-50%);

                    }
                }
            }
        }
    }

    .restaurants {
        background-color: $background;
        padding-bottom: 66px;
        border-top: 54px;


        .content {
            padding-top: 54px;
        }

        h2 {
            margin-left: 20px;
        }

        .restaurants-cards {
            display: flex;
            flex-direction: column;
            gap: 20px;

            a {
                color: $black;
            }

            .card {
                border-radius: 15px 15px 0 0;
                overflow: hidden;


                &-new {

                    height: 230px;
                    position: relative;
                    z-index: 0;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;

                    }

                    .ribbon {
                        padding: 7px 9px 6px;
                        color: $green_font;
                        background: $green;
                        border-radius: 2px;
                        font-weight: 500;
                        font-family: 'roboto', sans-serif;
                        font-size: 14px;
                        position: absolute;
                        top: 15px;
                        right: 15px;
                        z-index: 1;
                        display: flex;
                        align-items: center;
                    }

                }

                .card-content {
                    padding: 0;
                    display: flex;
                    justify-content: space-between;
                    line-height: normal;

                    &-text {
                        line-height: normal;

                        h3 {
                            margin: 0;
                            margin-bottom: 0px;
                        }

                        span {
                            margin-top: 5px;
                        }
                    }

                    .card-rating {
                        @include heart;
                        margin-top: 5px;
                        margin-right: 5px;
                        padding-left: 10px;
                    }
                }
            }
        }
    }

    footer {
        @include footer;

    }
}



@media (min-width: 768px) {

    header {

        img {
            height: 34px;
            margin: 30px auto;
        }

        /*a {
            top: 50%;
        }*/
    }

    main {

        section {

            padding: 0;

            .content {

                max-width: 1080px;
                margin: auto;

            }

            h2 {
                margin: 0;
            }

            &-.display {

                padding: 30px 20px;

                h1 {

                    font-size: 40px;
                    margin: 0;

                }

            }

            &.steps {

                padding: 50px 20px;

                ul {

                    display: flex;
                    gap: 24px;
                    margin-top: 25px;
                    margin-bottom: 0;

                    li {

                        width: 100%;
                        margin-bottom: 0;

                    }

                }

            }

            &.restaurants {

                padding: 30px 20px;

                .restaurants-cards {

                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    margin-top: 28px;
                    grid-row-gap: 50px;
                    grid-column-gap: 100px;

                    .card {

                        &-header {

                            height: 173px;

                        }

                    }

                }

            }

        }

    }

    /*footer {
        @include footerRespons
    }*/
}